HDL/*
!HDL/*.srcs/
!HDL/*.xpr
FunSimForHDL/*
!FunSimForHDL/*.mpf
!FunSimForHDL/*.mti
!FunSimForHDL/*.do
*.pyc
HDL/ContrastTransfrom.srcs/sources_1/ip/Multiplier12x24LUT
!HDL/ContrastTransfrom.srcs/sources_1/ip/Multiplier12x24LUT/Multiplier12x24LUT.xci
!HDL/ContrastTransfrom.srcs/sources_1/ip/Multiplier12x24LUT/Multiplier12x24LUT_funcsim.v
HDL/ContrastTransfrom.srcs/sources_1/ip/Multiplier12x24Mul
!HDL/ContrastTransfrom.srcs/sources_1/ip/Multiplier12x24Mul/Multiplier12x24Mul.xci
!HDL/ContrastTransfrom.srcs/sources_1/ip/Multiplier12x24Mul/Multiplier12x24Mul.v