HDL/*
!HDL/*.srcs/
!HDL/*.xpr
FunSimForHDL/*
!FunSimForHDL/*.mpf
!FunSimForHDL/*.mti
!FunSimForHDL/*.do
*.pyc
HDL/Graying.srcs/sources_1/ip/MultiplierRedx0d299/*
!HDL/Graying.srcs/sources_1/ip/MultiplierRedx0d299/MultiplierRedx0d299.xci
!HDL/Graying.srcs/sources_1/ip/MultiplierRedx0d299/MultiplierRedx0d299_funcsim.v
HDL/Graying.srcs/sources_1/ip/MultiplierGreenx0d587/*
!HDL/Graying.srcs/sources_1/ip/MultiplierGreenx0d587/MultiplierGreenx0d587.xci
!HDL/Graying.srcs/sources_1/ip/MultiplierGreenx0d587/MultiplierGreenx0d587_funcsim.v
HDL/Graying.srcs/sources_1/ip/MultiplierBluex0d114/*
!HDL/Graying.srcs/sources_1/ip/MultiplierBluex0d114/MultiplierBluex0d114.xci
!HDL/Graying.srcs/sources_1/ip/MultiplierBluex0d114/MultiplierBluex0d114_funcsim.v