HDL/*
!HDL/*.srcs/
!HDL/*.xpr
FunSimForHDL/*
!FunSimForHDL/*.mpf
!FunSimForHDL/*.mti
!FunSimForHDL/*.do
!FunSimForHDL/*.md
*.pyc
HDL/Scale.srcs/sources_1/ip/Multiplier12x24SCL/*
!HDL/Scale.srcs/sources_1/ip/Multiplier12x24SCL/Multiplier12x24SCL.xci
!HDL/Scale.srcs/sources_1/ip/Multiplier12x24SCL/Multiplier12x24SCL_funcsim.v