HDL/Rows8x512/*
!HDL/Rows8x512/*.srcs/
!HDL/Rows8x512/*.xpr
HDL/Rows8x512/*.srcs/sources_1/ip/Fifo8x512/
!HDL/Rows8x512/*.srcs/sources_1/ip/Fifo8x512/Fifo8x512_funcsim.v
!HDL/Rows8x512/*.srcs/sources_1/ip/Fifo8x512/Fifo8x512.xci
HDL_SIM/Rows8x512/*
!HDL_SIM/Rows8x512/*.mpf
!HDL_SIM/Rows8x512/*.mti
HDL/Rows1x512/*
!HDL/Rows1x512/*.srcs/
!HDL/Rows1x512/*.xpr
HDL_SIM/Rows1x512/*
HDL/Rows8x512/*.srcs/sources_1/ip/Rows1x512/
!HDL/Rows8x512/*.srcs/sources_1/ip/Rows1x512/Rows1x512_funcsim.v
!HDL/Rows8x512/*.srcs/sources_1/ip/Rows1x512/Rows1x512.xci
!HDL_SIM/Rows1x512/*.mpf
!HDL_SIM/Rows1x512/*.mti
*.pyc
SIM_CHECK/*.dat